*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  width: 70%;
  margin: 0 auto;
  position: relative;
  font-family: 'Patrick Hand', cursive;
}

.main h1 {
  text-align: center;
}

.book-store {
  border: 1px solid #000;
  background-color: #b8b8b8;
}

.book-container {
  padding: 10px;
}

.book-container:nth-child(2n) {
  background-color: #fff;
}

.delete {
  float: right;
  box-shadow: 2px 2px 2px #000;
  font-family: 'Patrick Hand', cursive;
}

hr {
  margin: 20px auto;
  max-width: 30%;
  border-color: #000;
}

#form {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

#form h2 {
  margin: 10px 0 5px;
}

input {
  padding: 5px;
  margin: 5px 0 10px;
  border: 2px solid #000;
  font-family: 'Patrick Hand', cursive;
}

.add-btn {
  float: right;
  width: 50px;
  align-self: flex-end;
  box-shadow: 2px 2px 2px #000;
  border: 2px solid #000;
  font-family: 'Patrick Hand', cursive;
}

@media only screen and (min-width: 768px) {
  .main {
    width: 50%;
  }
}
